@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav li > a 
{
	color: #fff;
	font-family: "SubtleSansLight", sans-serif;
	font-size: 17px;
}

.navbar-default .navbar-nav li > a:hover
{
	color: #a0f7ff;
}

.btn-success
{
	border-radius: 0;
	background-color: #fff;
	font-family: "SubtleSansRegular", sans-serif;
	color: #000;
}
