button
{
	font-family: 'PayToneOne', sans-serif;
	font-size:20px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	border: 1px solid black;
}
.listing_index_title
{
	font-weight: bold;
	text-align: center;
	font-size: 23px;
	font-family: 'vertigoFLF-Bold', sans-serif;
}
.listing_name
{
	font-family: 'Nexa Bold',sans-serif;
	text-align:center;
	font-weight:normal;
	font-size:15px;
	line-height:21.7px;
	color: #5eabff;
}
.jumbotron
{
	background-color: #ffffff;
	border: 1px solid #666999;
	border-radius: 0px;
}
.listing_set_1
{
	//font-weight: bold;
	font-size: 22px;
	font-family: Helvetica,Arial, sans-serif;
	/*display: -webkit-inline-box;*/
}
.listing_show_description
{
	font-family: 'Helvetica Neue', sans-serif;
}

.label
{
	border-radius: 0;
	
}
#image1
{
	margin-left: 60px;
}

.zoom2 img
{
	border: 1px solid black;
	margin-top: 3px;
}

.listing_header
{
	color: #000;
}
.feature1
{
	width: 50%;
}


