.review_title
{
	font-family: "Raleway-Light", sans-serif;
	font-size: 30px;
	margin-top: 5%;
	color: #777777;
}

#grid
{
	//margin-left: 1%;
}

.box
{	

	 border-radius: 0px;
	 width: 300px;
	 background-color: #F8F8F8;
	 padding-top: 33.7px!important;

}

.review-title
{
	font-family:'Raleway-Light', sans-serif;
	font-size:5px;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
}

.box img {
  width: 100%;
}

.box img:hover {
  cursor: pointer;
}


.thumbnail
{
	border: 0;
}

