.review_title
{
	font-family: "SubtleSansRegular", sans-serif;
	font-size: 30px;
	font-weight: thin;
	margin-top: 5%;
	color: #777777;
}

#grid
{
	margin-left: 4%;
}

.box
{	

	 border-radius: 0px;
	 width: 300px;
	 background-color: #F8F8F8;

}

.review-title
{
	font-family:'vertigoFLF-Bold', sans-serif;
	font-size:50px;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
}

.box img {
  width: 100%;
}

.box img:hover {
  cursor: pointer;
}


.thumbnail
{
	border: 0;
}

