.review_title
{
	font-family: 'Mesa Grande', sans-serif;
	font-size: 23px;
	font-weight: thin;
	margin-top: 5%;
	color: #777777;
}

.post-details
{
	font-family:'vertigoFLF-Bold', sans-serif;
	 font-size:30px;
	 font-weight: bold;
	 margin-top: 5%;
	 color:#777777;
	 border-radius:0;
	 border:1px solid black;
}

.thumbnail
{
	border: 0;
}