  <div class = "container-fluid">
    <div class = "row">
		<% @review.each do |review| %>
		  <div class = "col-xs-12 col-md-3 col-sm-6">
		    <div class = "thumbnail" style="font-family:'Mesa Grande', sans-serif;font-size:15px;font-weight: thin;margin-top: 5%;color:#777777;border-radius:0;border:1px solid black">
            	<%= link_to image_tag(review.image.url(:medium)), review %>
            	<p style="text-align:center"><%= review.title %></p>
		    </div>
          </div>
		<% end %>
	</div>
  </div>	  
 
		