<div class="container-fluid">
    <div id="grid" class="transitions-enabled;margin-left:5%">
      <% @review.each do |review| %>
        <div class="box" style="background-color:#d6d6d6; border-radius: 0">
          <%= link_to (image_tag review.image.url(:large)), review %>
            <div class="jumbotron" style="border-radius: 0;border: 1px solid #999999">
            <p class="review-title" style="font-size:30px;line-height: 1;"><%= review.title %></p>
          </div>
        </div>
      <% end %>
 </div>
</div>

