<footer class="footer">
      <div class="container-fluid">
      	<div class="row"style="padding:20px">
      		<div class="company-details">
      			<div class="col-md-3 col-xs-12">
	      		 	<h4>Our Company</h4>
		      			<p>About Us</p>
		      			<p>Careers</p>
		      			<p>Newsletter</p>
		      			<p>Contact us</p>
      			</div>
      				<div class="col-md-3 col-xs-12">
		      			<h4>Connect with us</h4>
			      			<p>Facebook</p>
			      			<p>Twitter</p>
			      			<p>Pinterest</p>
			      			<p>Instagram</p>
      				</div>
	      				<div class="col-md-3 col-xs-12">
			      			<h4>Partner with us</h4>
				      			<p><%= link_to 'Sell your products on our platform', new_applicant_path %></p>
				      			<p><%= link_to 'Already a Seller?', login_path %></p>
	      				</div>
	      					<div class="col-md-3 col-xs-12">
			      				<h4>Security and Policy</h4>
				      				<p>Terms and Conditions</p>
				      				<p>Products and Services</p>
	      					</div>
      		</div>
      	</div>
      </div>
  </footer>