<nav class="navbar navbar-default" style="background-color:#E6E7E8;border: 1px solid #000">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="navbar-brand">
          <div class="seperator">Available Products</div>
      </div>
    </div>
  </div>
</nav>