<nav class="navbar navbar-default" style="background-color:#000;border: 1px solid #000">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="navbar-brand">
          <div class="seperator"style="color:#fff;font-weight:bold">
          	<h4>Similar Products</h4>
          </div>
      </div>
    </div>
  </div>
</nav>