<nav class="navbar navbar-default" style="background-color:#f4f4f4;border: 1px solid #000">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="navbar-brand">
          <div class="seperator"style="color:#449D44;font-weight:bold">Featured Products</div>
      </div>
    </div>
  </div>
</nav>